<script>
    function darkmode_enable()  {
        DarkReader.setFetchMethod(window.fetch)
        DarkReader.enable();
        localStorage.setItem('dark-mode', 'true');
    }

    function darkmode_disable() {
        DarkReader.disable();
        localStorage.setItem('dark-mode', 'false');
    }

    // Handle local configuration
    let is_enabled = localStorage.getItem('dark-mode')
    if (is_enabled === 'true' ) {
        DarkReader.setFetchMethod(window.fetch)
        DarkReader.enable();
    } 

    // Handle button action
    document.getElementsByClassName('dark-mode-button')[0].onclick = function() {
        darkmode_toggle()
    }

    function darkmode_toggle() {
        let is_enabled = localStorage.getItem('dark-mode')
        if (is_enabled === null || is_enabled === 'false' ) {
            darkmode_enable()
        } 
        else {
            darkmode_disable();
        }
    }        
</script>

<script src="https://cdn.jsdelivr.net/npm/darkreader@4.9.44/darkreader.js"></script>