<script>
    document.getElementsByClassName('dark-mode-button')[0].onclick = function() {
        darkmode()
    }

    function darkmode() {
        let enabled = localStorage.getItem('dark-mode')
        if (enabled === null) {
            enable()
        }
        else if (localStorage.getItem('dark-mode') === 'false') {
            enable();
        } 
        else {
            disable();
        }

        function enable()  {
            DarkReader.setFetchMethod(window.fetch)
            DarkReader.enable();
            localStorage.setItem('dark-mode', 'true');
        }

        function disable() {
            DarkReader.disable();
            localStorage.setItem('dark-mode', 'false');
        }
    }        
</script>

<script src="https://cdn.jsdelivr.net/npm/darkreader@4.9.44/darkreader.js"></script>