<br>

<div class="robots-nocontent social-share-buttons">

  <a  class="button button-twitter" href="https://buymeacoff.ee/swissky" rel="nofollow"><img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Coffee" data-canonical-src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" style="max-width:100%;"></a>
  
  <a class="button button-twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.footer-links.twitter }}&related={{ site.footer-links.twitter }}" target="_blank" style="width:'37px'">
    <img src="https://swisskyrepo.github.io/images/twitter_button_png.png" alt="Tweet it!">
  </a>

</div>