.social-share-buttons {
    text-align: center;
    background: $lightGray;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 *1 0;
}

.a2a_kit {
  display: inline-block;
}

.icon{
    display: inline-block;
    width: 1em;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.button-facebook, .button-twitter, .button-googleplus{
  color: $white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 3px;
  font-size: 1rem;
}
.button-facebook:hover, .button-twitter:hover, .button-googleplus:hover{
  color: $lightGray;
}
